---
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import Offerings from '../components/Offerings.astro';
import Layout from '../layouts/Layout.astro';
import LayoutConstruction from '../layouts/LayoutConstruction.astro';
---

<!-- <Layout title="Hardie Web Services">
	<Navigation/>
	<main>
		<Hero />
		<Offerings />
		<About />
		<Contact/>
	</main>
</Layout>

<style>
</style> -->
<LayoutConstruction></LayoutConstruction>