---
import { Image } from 'astro:assets';
import headshot from '../assets/images/headshot.jpg';
import blob from '../assets/images/blob.svg';
---
<section class="about-us py-24 px-6 bg-gray-100" id="about">
  <div class="max-w-[1280px] w-100% mx-auto">
    <h2 class="text-4xl font-bold text-primary mb-6 text-center">About Us</h2>
    <!-- <h3 class="mt-12 text-2xl font-semibold text-primary">Notable Clients</h3>
    <ul class="mt-4 space-y-2 text-lg">
      <li class="bg-white shadow rounded-lg p-3 text-gray-600">Client One</li>
      <li class="bg-white shadow rounded-lg p-3 text-gray-600">Client Two</li>
      <li class="bg-white shadow rounded-lg p-3 text-gray-600">Client Three</li>
    </ul> -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
      <div class="md:col-span-1 grid place-content-center">
        <Image src={headshot} alt="Placeholder Image" class="w-[250px] h-[250px] object-cover rounded-lg" />
      </div>
      <div class="md:col-span-2 flex flex-col items-baseline justify-evenly h-full m-auto">
        <p class="text-lg text-gray-700 max-w-2xl mb-4">Hardie Web Services was founded to deliver top-tier web solutions. We’re proud to work with clients across various industries, providing exceptional design and user experience.</p>
        <p class="text-lg text-gray-700 max-w-2xl mb-4">With experience as a software consultant at one of North America's leading banks and current role as a frontend engineer at one of the largest privately owned companies in Scotland, Adam possesses expertise in mobile and web technologies. He has worked with a diverse range of technologies and served clients across various sectors. Demonstrating a consistent ability to rapidly acquire new skills and adapt to emerging technologies, he excels in every project he undertakes.</p>
        <a href="#contact" class="inline-block bg-secondary text-white font-semibold px-8 py-3 rounded-lg shadow-lg transition duration-300 hover:bg-secondaryHover"> Get in touch</a>
      </div>
    </div>
  </div>
  
</section>

