<style>
  .highlight {
    color: var(--primary-color);
  }
  button {
    transition: all 100 ease-in;
  }
  button:hover {
    background-color: var(--primary-color);
  }

 
</style>

<section class="contact text-center py-4 px-6" id="contact">
  <h2 class="text-4xl text-white mb-6">
    Contact <span class="highlight">Us</span>
  </h2>
  <form 
    name="contact" 
    netlify 
    netlify-honeypot="bot-field"
    class="flex flex-col gap-4 justify-start mx-auto text-left"
  >
    <label class="hidden">
      Don’t fill this out if you’re human: <input name="bot-field" />
    </label>
    <label class="flex flex-col">
      <span class="mb-1 text-white">Name:</span>
      <input 
        type="text" 
        name="name" 
        class="text-black px-3 py-2 rounded focus:outline-none" 
        required 
      />
    </label>

    <label class="flex flex-col">
      <span class="mb-1 text-white">Email:</span>
      <input 
        type="email" 
        name="email" 
        class="text-black px-3 py-2 rounded focus:outline-none" 
        required 
      />
    </label>

    <label class="flex flex-col">
      <span class="mb-1 text-white">Message:</span>
      <textarea 
        name="message" 
        id="message" 
        cols="30" 
        rows="5" 
        class="text-black px-3 py-2 rounded focus:outline-none" 
        required
      ></textarea>
    </label>

    <button 
      type="submit"
      class="
        bg-primary 
        text-white 
        px-6 
        py-2 
        rounded 
        transition-all 
        duration-200 
        w-[100%] 
      "
    >
      Submit
    </button>
  </form>
</section>

<script>
  const handleSubmit = event => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString()
    })
      .then(() => alert("Thank you for your submission"))
      .catch(error => alert(error));
  };

  document
    .querySelector('form[name="contact"]')
    .addEventListener("submit", handleSubmit);
</script>
